In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [35]:
from google.colab import drive
drive.mount('/content/grive')

Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

In [36]:
import pandas as pd
dt=pd.read_csv('/content/grive/MyDrive/Colab Notebooks/Diabities-210331-154610.csv')
dt.head()

   Pregnancies  Glucose  blood pressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148              72  ...                     0.627   50        1
1            1       85              66  ...                     0.351   31        0
2            8      183              64  ...                     0.672   32        1
3            1       89              66  ...                     0.167   21        0
4            0      137              40  ...                     2.288   33        1

[5 rows x 9 columns]

In [37]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   blood pressure            768 non-null    int64
 3   skin thickness            768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [48]:
x=dt.iloc[:,:-1]
y=dt.iloc[:,-1]

In [49]:
x

     Pregnancies  Glucose  blood pressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148              72  ...  33.6                     0.627   50
1              1       85              66  ...  26.6                     0.351   31
2              8      183              64  ...  23.3                     0.672   32
3              1       89              66  ...  28.1                     0.167   21
4              0      137              40  ...  43.1                     2.288   33
..           ...      ...             ...  ...   ...                       ...  ...
763           10      101              76  ...  32.9                     0.171   63
764            2      122              70  ...  36.8                     0.340   27
765            5      121              72  ...  26.2                     0.245   30
766            1      126              60  ...  30.1                     0.349   47
767            1       93              70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [50]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [52]:
#random forest
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
#mat[np.isfinite(mat) == True] = 0
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
from sklearn.metrics import accuracy_score
acc=round(accuracy_score(y_pred,y_test),2)*100
print("ACURRACY=",acc)

ACURRACY= 73.0