In [61]:
#pip install nltk
import nltk
nltk.download("wordnet")
from google.colab import drive
drive.mount('/content/grive')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

In [62]:
import pandas as pd
dt=pd.read_csv('/content/grive/MyDrive/Colab Notebooks/SPAM-210331-134237.csv',encoding='Windows-1252')
import chardet
with open("/content/grive/MyDrive/Colab Notebooks/SPAM-210331-134237.csv",'rb') as rawdata:
  result=chardet.detect(rawdata.read(100000))
result
{'confidence':0.7271654586996 ,'encoding':'Windows-1252','language':''}  
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [63]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)
print("COLUMS ARE:")
for col in dt.columns:
    print(col)

COLUMS ARE:
type
text
spam

In [ ]:
#before
dt['text'][1]

In [64]:
def tokenizer(text):
    return text.split()
dt['text']=dt['text'].apply(tokenizer)
#after
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [65]:

from nltk.stem.snowball import SnowballStemmer
porter =SnowballStemmer("english",ignore_stopwords=False)
def stem_it(text):
    return[porter.stem(word)for word in text]
dt['text']=dt['text'].apply(stem_it)     
dt['text'][1] #aftr

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [66]:
dt['text'][1] #before

['xxxmobilemovieclub:',
 'to',
 'use',
 'your',
 'credit,',
 'click',
 'the',
 'wap',
 'link',
 'in',
 'the',
 'next',
 'txt',
 'messag',
 'or',
 'click',
 'here>>',
 'http://wap.',
 'xxxmobilemovieclub.com?n=qjkgighjjgcbl']

In [47]:
from nltk.stem import WordNetLemmatizer
lem=WordNetLemmatizer()
def lemmit(text):
    return[lem.lemmatize(word,pos="a")for word in text]
dt['text']=dt['text'].apply(lemmit)
dt['text'][100] #after

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [46]:
dt['text'][100] #before

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [41]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [49]:
stop_words=stopwords.words('english')
def stop(text):
    review=[word for word in text if not word in stop_words]
    return review
dt['text']=dt['text'].apply(stop)
dt['text'][110] #after

['dont', 'worry.', 'guess', 'busy.']

In [69]:
dt['text']=dt['text'].apply(''.join)
dt.head()

   type                                               text  spam
0   ham  gountiljurongpoint,crazy..availonliinbugingrea...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentriin2awklicomptowinfacupfinaltkts21stma...     1
3   ham            udunsaysoearlihor...ucalreadithensay...     0
4   ham    nahidon'tthinkhegoetousf,helivearoundherethough     0

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
#feature_names = vectorizer.get_feature_names_out()
x =tfidf.fit_transform(dt['text'])

In [73]:
x

<116x385 sparse matrix of type '<class 'numpy.float64'>'
	with 402 stored elements in Compressed Sparse Row format>

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,shuffle=False)

In [79]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
from sklearn.metrics import accuracy_score
acc=round(accuracy_score(y_pred,y_test))*100
print("ACURRACY=",acc)

ACURRACY= 100